<!doctype html>
<html lang="en">
  <head>
    {% include "partials/head-content.njk" %}
  </head>
  <body>
    <div class="page">
      <div class="separator"></div>
      <div class="js-console console"></div>
      <header class="header bb p1">
        <h1 class="masthead"><a href="#top">Ode to Construction</a></h1>
      </header>
      <div class="canvas-wrapper">
        <img id="canvas" class="js-canvas canvas fadein" height="240" width="170" alt="Randomly generated constructivist artwork consisting of black and red rectangular shapes" src='data:image/svg+xml;utf8,{{ artwork|safe }}'>
      </div>
      {% include "partials/interface.njk" %}
      <div class="sidebar-separator"></div>
      <div class="hr mt-0"></div>
      {{ content|safe }}
      <div class="pt-1"></div>
    </div>
    {% include "partials/script.njk" %}
  </body>
</html>
