<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ode to Construction</title>

<meta name="description" content="Abstraction in the digital age">

<link rel="preload" href="/fonts/nb_international_pro_regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/nb_international_pro_bold-webfont.woff2" as="font" type="font/woff2" crossorigin>

<link rel="icon" href="/images/icon.svg">

<link rel="canonical" href="https://odetoconstruction.com{{ page.url }}" />

<style>{% include "partials/main.css" %}</style>
