<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ode to Constructivism</title>

<link rel="preload" href="/fonts/nb_international_pro_regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/nb_international_pro_bold-webfont.woff2" as="font" type="font/woff2" crossorigin>

<style>{% include "partials/main.css" %}</style>
