<button class="js-controls-toggle">Show controls</button>
<button class="js-freeze-toggle">Freeze controls</button>

<label
  class="range-slider"
>
  <p class="range-slider__caption">Variation</p>
  <input
    name="variation"
    type="range"
    class="range-slider__input"
    min="0"
    max="1"
    step="0.05"
  >
</label>
<div class="js-controls">
  <label
    class="range-slider"
  >
    <p class="range-slider__caption">Orientation</p>
    <input
      name="orientation"
      type="range"
      class="range-slider__input"
      min="0"
      max="1"
      step="0.0025"
    >
  </label>
  <label
    class="range-slider"
  >
    <p class="range-slider__caption">Density</p>
    <input
      name="density"
      type="range"
      class="range-slider__input"
      min="0"
      max="1"
      step="0.05"
    >
  </label>
  <label
    class="range-slider"
  >
    <p class="range-slider__caption">Brightness</p>
    <input
      name="brightness"
      type="range"
      class="range-slider__input"
      min="0"
      max="1"
      step="0.05"
    >
  </label>
  <label
    class="range-slider"
  >
    <p class="range-slider__caption">Length</p>
    <input
      name="length"
      type="range"
      class="range-slider__input"
      min="0"
      max="1"
      step="0.1"
    >
  </label>
  <label
    class="range-slider"
  >
    <p class="range-slider__caption">Breadth</p>
    <input
      name="breadth"
      type="range"
      class="range-slider__input"
      min="0"
      max="1"
      step="0.125"
    >
  </label>
</div>
