@font-face {
  font-family: InternationalPro;
  src: url("/fonts/nb_international_pro_regular-webfont.woff2") format("woff2"),
    url("/fonts/nb_international_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InternationalPro;
  src: url("/fonts/nb_international_pro_bold-webfont.woff2") format("woff2"),
    url("/fonts/nb_international_pro_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: InternationalPro, -apple-system, BlinkMacSystemFont, Bahnschrift,
    Roboto, sans-serif;
  font-size: calc(1em + 0.5vw);
  line-height: 1.4;
}

body {
  margin: 5vw;
}

#canvas {
  width: auto;
  height: 65vh;
  object-fit: contain;
}

.stage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 30em;
  margin: 0 auto;
}

.main {
  padding-top: 60vh;
  padding-bottom: 100vh;
}

.prose p {
  margin-top: 0;
  margin-bottom: 0;
}

.prose p + p {
  text-indent: 2em;
}

button {
  border: none;
  background: red;
  color: white;
  font-family: inherit;
  padding: 0.25em 0.5em;
  font-size: 0.85em;
}

button:focus {
  outline: 2px solid black;
}
