@font-face {
  font-family: InternationalPro;
  src: url("/fonts/nb_international_pro_regular-webfont.woff2") format("woff2"),
    url("/fonts/nb_international_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InternationalPro;
  src: url("/fonts/nb_international_pro_bold-webfont.woff2") format("woff2"),
    url("/fonts/nb_international_pro_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --space: 1rem;
}

html {
  font-family: InternationalPro, -apple-system, BlinkMacSystemFont, Bahnschrift,
    Roboto, sans-serif;
  font-size: calc(1em + 0.25vw);
  line-height: 1.4;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1em;
  line-height: inherit;
  font-weight: normal;
}

.masthead {
  text-align: center;
  color: red;
  margin: 0;
}

.red {
  color: red;
}

.controls {
  opacity: 1;
  transition: opacity 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.button-grid {
  display: flex;
}

.button-grid > * {
  flex: 1;
}

.button-grid > * + * {
  margin-left: var(--space);
}

.sm {
  display: none;
}

.md {
  display: none;
}

.p1 {
  padding: var(--space);
}

.prose h2 {
  margin: 0;
}

.prose h2 + * {
  margin-top: 0;
}

@media (min-width: 24em) {
  .sm {
    display: inline;
  }
}

@media (min-width: 40em) {
  .md {
    display: inline;
  }
}

.relative {
  position: relative;
}

.fadein {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.prose p {
  margin-top: 0;
  margin-bottom: 0;
}

.range-slider {
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.range-slider:first-child {
  padding-top: 0;
}

.button,
button {
  border: none;
  background-color: red;
  border: 2px solid transparent;
  color: white;
  font-family: inherit;
  padding: 0.5em;
  font-size: 1em;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
}

.button-outline {
  background-color: transparent;
  border-color: red;
  color: red;
}

button:hover,
button:active,
button:focus {
  outline: none;
  border-color: black;
}

.range-slider__caption {
  margin: 0;
  color: red;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: red;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  background-color: red;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  background-color: red;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    transparent,
    transparent 14px,
    red 14px,
    red 26px,
    transparent 26px
  );
  margin-top: -19px;
  border: none;
  border-radius: 0;
}

input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    transparent,
    transparent 14px,
    red 14px,
    red 26px,
    transparent 26px
  );
  margin-top: -19px;
  border: none;
  border-radius: 0;
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    transparent,
    transparent 14px,
    red 14px,
    red 26px,
    transparent 26px
  );
  margin-top: -19px;
  border: none;
  border-radius: 0;
}

.console {
  display: none;
}

.js-controls-toggle {
  margin-bottom: 0.5em;
}

@media (min-width: 60em) {
  .console {
    display: flex;
  }

  .hidden {
    visibility: visible;
    opacity: 1;
  }

  .js-controls-toggle {
    display: none;
  }
}

.page {
  border-bottom: 4px solid red;
  display: grid;
  grid-template-rows: [main-start header-start] auto [header-end canvas-start] auto [canvas-end content-start] auto [content-end main-end];
}

.page > * {
  padding-left: var(--space);
  padding-right: var(--space);
}

.page > .header {
  grid-column: main;
  grid-row: header;
  position: sticky;
  top: 0;
  padding: 0.75em;
  border-bottom: 2px solid red;
  background: white;
  z-index: 10;
}

.page > * {
  grid-column: content;
  margin-top: 0;
  margin-bottom: 0;
}

.page > h2 {
  grid-column: marginalia;
  position: relative;
  margin-bottom: 1em;
  grid-row-end: span 2;
}

.page > * + h3 {
  margin-top: 1em;
}

.page > * + p {
  margin-top: 1em;
}

.page > h2 + * {
  margin-top: 0;
}

.page > h3 + * {
  margin-top: 0;
}

.sidebar {
  grid-column: sidebar;
  padding-bottom: 0;
  padding-top: var(--space);
  grid-row: canvas;
  height: 100%;
  z-index: 5;
}

.sidebar-separator {
  grid-row: 2 / 3;
  grid-column: sidebar;
  border-right: 2px solid red;
  display: none;
}

.console {
  grid-column: sidebar;
  grid-row: header;
  font-size: 0.5rem;
  color: red;
  align-items: center;
  justify-content: center;
  display: none;
}

.canvas-wrapper {
  position: relative;
  grid-column: canvas;
  grid-row: canvas;
}

.canvas {
  height: calc(100vh - 3.5rem);
  width: 100%;
  display: block;
  object-fit: contain;
}

.hr {
  grid-column: hr;
  display: block;
  height: 2px;
  margin-top: calc(var(--space) * 1.5);
  margin-bottom: calc(var(--space) * 3);
  background: red;
}

.pt-1 {
  padding-top: calc(var(--space) * 4);
}

.mt-0 {
  margin-top: 0;
}

.editor-buttons {
  margin-top: var(--space);
}

.bottom {
  padding: calc(var(--space) * 2) 0 calc(var(--space));
}

.canvas {
  height: calc(100vh - 10rem);
}

.shop-grid {
  display: grid;
  grid-gap: calc(var(--space) * 1.5);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.shop-grid > * {
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
}

.shop-grid *:last-child {
  margin-top: auto;
}

img {
  width: 100%;
}

.controls-visible .canvas {
  opacity: 0.5;
}

.next-small ~ * {
  color: red;
}

.w-100 {
  width: 100%;
}

@media (min-width: 40em) {
  .page {
    grid-template-columns: [main-start sidebar-start marginalia-start hr-start canvas-start] 2fr [ marginalia-end content-start ] 5fr [sidebar-end canvas-end hr-end main-end];
  }
}

@media (min-width: 60em) {
  .editor-buttons {
    margin-top: calc(var(--space) * 2);
  }
  .sidebar {
    padding-top: calc(var(--space) * 3);
    padding-bottom: calc(var(--space) * 3);
  }

  .sidebar-separator {
    display: block;
  }

  .canvas {
    height: calc(100vh - 3.5rem);
    position: sticky;
    top: 3.5rem;
  }

  .controls-visible .canvas {
    opacity: 1;
  }

  .page {
    grid-template-columns: [main-start sidebar-start marginalia-start hr-start] 3fr [ sidebar-end marginalia-end canvas-start content-start ] 5fr [canvas-end hr-end main-end];
  }
}

@media (min-width: 85em) {
  .range-slider {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }

  .mt-0 {
    margin-top: 3rem;
  }

  .page {
    grid-template-columns: [main-start sidebar-start] 4fr [sidebar-end marginalia-start hr-start canvas-start] 2fr [marginalia-end content-start] 5fr [content-end] 1fr [canvas-end hr-end main-end];
  }

  .sidebar-separator {
    grid-row-end: span 999;
  }
}

@media (min-width: 95em) {
  .page {
    grid-template-columns: [main-start sidebar-start] 3fr [sidebar-end marginalia-start hr-start canvas-start] 2fr [marginalia-end content-start] 5fr [content-end] 2fr [canvas-end hr-end main-end];
  }
}
